<div class="row" style="margin: 50px 0 50px 0">
  <div class="col-sm-6">
    <div class="btn-group" role="group" aria-label="Basic example">
      <% ['All', 'Breakfast', 'Lunch', 'Dinner', 'Drinks'].each do |section| %>
        <%= link_to section, foods_path(section: section), class: (section == @section ? 'btn btn-secondary active' : 'btn btn-secondary') %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="pull-right">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortByMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= @orderby %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to 'A - Z', params.merge({orderby: 0}) %></li>
          <li><%= link_to 'Price low to high', params.merge({orderby: 1}) %></li>
          <li><%= link_to 'Price high to low', params.merge({orderby: 2}) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% @foods.in_groups_of(3, false).each do |group| %>

<div class="row">
  <% group.each do |food| %>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100%x180/" src="<%= food.img_url %>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= food.name %></h4>
          <p class="card-text">Price: <%= number_to_currency(food.price) %></p>
          <%= link_to 'View', food_path(food), class: 'btn btn-primary' %>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% end %>
