<h3 style="margin: 50px 0 30px 0"><%= @food.name %></h3>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Details</div>
      <div class="panel-body">
        Name: <%= @food.name %> <br/>
        Description: <%= @food.description %> <br/>
        Price: <%= @food.price %> <br/>
        Type: <%= @food.section %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Add to cart', new_order_path(fid: @food.id, fname: @food.name, fprice: @food.price), class: 'btn btn-primary' %>
        <%= link_to 'Back', foods_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <img class="card-img-top" width="600px" height="450px" src="<%= @food.img_url %>" />
  </div>
</div>
